{% extends 'base.html.twig' %}

{% block title %}Account lists{% endblock %}

{% set titleText = businessPartner is not null ? "List Account For "  ~ businessPartner.name : "Business partner Account lists" %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>{{ titleText }}</h1>
        <div class="btn-group">
            <a class="btn btn-success" href="{{ path('app_transaction_new') }}">➕ New Transaction</a>
            <a class="btn btn-warning" href="{{ path('app_transaction_exchange') }}">💱 New Exchange</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>balance</th>
            <th>currency</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.id }}</td>
                <td>{{ account.balance }}</td>
                <td>{{ account.currency.value }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-sm btn-outline-primary"
                           href="{{ path('app_account_show', {'id': account.id}) }}">Show</a>
                        <a class="btn btn-sm btn-outline-secondary"
                           href="{{ path('app_account_edit', {'id': account.id}) }}">Edit</a>
                        <a class="btn btn-sm btn-outline-success"
                           href="{{ path('app_transaction_list', {'accountId': account.id}) }}">Transactions</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-sm btn-outline-primary" href="{{ path('app_business_partner_new') }}">Create new</a>
{% endblock %}
